<% show_post ||= false %>

<div class="row">
  <% @post.comments.each do |comment| %> 
    <div class="span8 well">
      <ul>
        <li>
          <%= comment.body %>
        </li>
      </ul>
      <span class='quiet'> posted by </span> 
          <%= comment.creator.username %>
      <small> at <%= display_time(comment.created_at) %></small>
    </div>
    <% if logged_in? %>
      <div class="span0 well text-center">
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
          <i class= "icon-arrow-up"> </i> 
        <% end %>
          <br>
           <span id="comment_<%=comment.id %>_votes"><%=comment.total_votes %></span>
          <br>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
          <i class= "icon-arrow-down"> </i> 
        <% end %>
      </div>
    <% end %> 
  <% end %> 
</div>

